article{
    cursor: grab;
    transition-duration: 0ms; 
    transform: translate3d(0px, 0px, 0px);
}

article:active{
    cursor: grabbing;
    transition-duration: 300ms; 
    transform: translate3d(200px, 0px, 50px);
}